<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars News</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find An Awesome Deal!</a></p>
    </div>
        
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
              <div class="card-body">
                {% for item in img_dict %}
                <h4 class="card-title">{{ item.img_title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">URL: {{ item.img_url }}</h6>
                
                {% endfor %}
              </div>
            </div>
        </div>
      
  </div>
</body>

</html>
